/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 140px;
}

.lowQuantity {
  color: red;
}

.bold {
  font-weight: bold;
}

.error {
  color: red;
}